<!-- <nav class="navbar">
  <div class="container">
    <a class="navbar-brand">Angular Router</a>
    <ul class="nav-container" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item"><a class="nav-link" routerLink="admin">Admin</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="face-recognition">Face-Recognision</a>
      </li>
    </ul>
  </div>
</nav> -->
<div style="margin-top: 50px">
  <router-outlet></router-outlet>
</div>
